body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(aqua,orangered);
}
.container{
  max-width: 700px;
  padding: 20px;
  margin: 0 20px;
  border-radius: 15px;
  overflow: hidden;
  background-color: wheat;
  box-shadow: 0 20px 30px orange;
}
h2{
  font-size: 40px;
  color: darkgray;
  border-bottom: 2px solid silver;
  padding-bottom: 8px;
}
.content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}

.input-box select{
  width: 340px;
  height: 41px;
  top: 5px;
  gap: 0px;
  border-radius: 8px 8px 8px 8px;
  border: 2px;
  opacity: 0px;
  background: #FFFFFF;
  /* border: 2px solid #0B022F */


}
.input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.input-box:nth-child(2n){
  justify-content: end;

}
.input-box label,.gender-title{
  width: 95%;
  color: gray;
  font-weight: bold;
  margin: 5px 0;
}
.gender-title{
  font-size: 15px;
}
.input-box input{
  height: 40px;
  width: 95%;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid snow;
  outline: none;
}
.button-container{
  margin: 15px 0;
}
.button-container button{
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  display: block;
  font-size: 20px;
  color: slategray;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(gray,wheat);
}
.button-container button:hover{
  transform: translateY(-10px);
  border: 2px solid orangered !important;
  background-image: orangered !important;
  color: white !important;
}
@media(max-width:600px){
  .container{
    min-width: 220px;
  }
  .content{
    max-height: 380px;
    overflow: auto;
  }
  .input-box{
    margin-bottom: 12px;
    width: 100%;
  }
  .input-box:nth-child(2n){
    justify-content: space-between;
  }
}